@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body{
  font-family: Roboto Mono;
}

.bg-dark{
  background-color: transparent!important;
  background: none!important;
  font-size: 25px;
}

.navbar-brand{
  font-size: 30px;
}
.img-title{
  color: #ffffff;
  letter-spacing: 3px;
  top: 20%;
}

.jumbotron {
  display: flex!important;
  justify-content: center;
  align-items: center;
  align-items: center!important;
  background-image: url('img/background.jpg');
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

#scroll{
  position: absolute;
  text-align: center;
  left: 50%;
  color: white;
  bottom: 52px;
  transform: translate(-50%,50%);
}



#scroll_button{
  display: block;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%, 0);
}
